{% import "macros.html" as macros %}
{% if questions_count > 0 %}
        <div id="questionCount" class="search-result-summary">
            {% trans cnt=questions_count, q_num=questions_count|intcomma %}{{q_num}} question{% pluralize %}{{q_num}} questions{% endtrans %}
        {% if author_name %}
            {% trans %}with {{author_name}}'s contributions{% endtrans %}
        {% endif %}
        </div>
        <div id="listSearchTags" {% if not search_tags %}style="display: none;"{% endif %}>
            <span class="left">{% trans %}Tagged{% endtrans %}</span>
            {{ macros.tag_list_widget(
                    search_tags,
                    id = 'searchTags',
                    deletable = True,
                    make_links = False,
                    search_state = search_state
                )
            }}
        </div>
{% endif %}
