{% extends "user_profile/user.html" %}
{% from "macros.html" import timeago %}
<!-- user_votes.html -->
{% block profilesection %}
    {% trans %}votes{% endtrans %}
{% endblock %}
{% block usercontent %}
        <div>
        {% for vote in votes %}

            <div>
                <div style="width:150px;float:left">{{ timeago(vote.voted_at) }}</div>
                <div style="width:30px;float:left">
                {% if vote.vote==1 %}
                    <span class="glyphicon glyphicon-thumbs-up upvote"  title="{% trans %}upvote{% endtrans %}"></span>
                {% else %}
                    <span class="glyphicon glyphicon-thumbs-down downvote"  title="{% trans %}downvote{% endtrans %}"></span>
                {% endif %}
                </div>
                <div style="float:left;overflow:hidden;width:750px">
                    {% if vote.answer_id==0 %}
                    <span class="question-title-link"><a href="{% url question vote.question_id %}{{ vote.title|slugify }}">{{ vote.title|escape }}</a></span>
                    {% else %}
                    <span class="answer-title-link" ><a href="{% url question vote.question_id %}{{ vote.title|slugify }}#{{ vote.answer_id }}">{{ vote.title|escape}}</a></span>
                    {% endif %}
                    <div style="height:5px"></div>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}
<!-- end user_votes.html -->
