{% import "macros.html" as macros %}
{{ macros.post_vote_buttons(post = answer) }}
{% if settings.ACCEPTING_ANSWERS_ENABLED %}
<div class="clearfix"></div>
<span id="answer-img-accept-{{ answer.id }}"
    class="answer-img-accept glyphicon glyphicon-ok-sign"
        {% if answer.accepted() %}
    title="{% trans %}this answer has been selected as correct{% endtrans %}"
        {% else %}
    title="{% trans %}mark this answer as correct (click again to undo){% endtrans %}"
        {% endif %}
></span>
{% endif %}
